node_modules/
tmp/
tmp-output/
fetches/
maybe/
wip/
old-jsons/
all-the-names.json
bilingues-dist.json
bilingues-hmm.json
bilingues.json
mycharityfund-all.json
mycharityfund-transliterate.json
mycharityfund-transliterate-v1.json
mycharityfund-transliterate-v2.json
mycharityfund-transliterate-v3.json
was-mycharityfund-all.json
was-mycharityfund-transliterate.json
