node_modules/
tmp-output/
maybe/
fetches/
mycharityfund-all.json
mycharityfund-transliterate.json
all-the-names.json
was-mycharityfund-all.json
was-mycharityfund-transliterate.json
mycharityfund-transliterate-v1.json
tmp/
wip/
mycharityfund-transliterate-v2.json
mycharityfund-transliterate-v3.json
bilingues-dist.json
bilingues-hmm.json
bilingues.json
